body {
  font-family: var(--primary-font);
  color: var(--secondary-accent-color);
  background-color: var(--primary-white-color);
}
:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --third-white-color: #e7e9fc;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #434455;
  --active-link-color: #404bbf;
}
